	ul,li{
		list-style:none;
	}
	.bigbox{
		width:823px;
		height:241px;
		float:left;
		margin-left:360px;
		margin-top:80px;
	}
	.box{
		width:822px;
		height:241px;
		border:0px;
		margin:0px auto;
		position:relative;
		float:left;
		overflow:hidden;
		opacity:0.75;
	}
	.slider{
		width:4115px;
		position:absolute;
		left:-822px;
	}
	.slide{
		width:822px;
		overflow:hidden;
		float:left;
	}
	.box>span{
		display:block;
		width:30px;
		height:50px;
		text-align:center;
		cursor:pointer;
		background:#fb47b5;
		font-size:30px;
		color:white;
		position:absolute;
		top:80px;
		opacity:0;
	}
	#left{
		left:30px;
	}
	#right{
		right:30px;
	}
	.nav{
		position: absolute;
		left:360px;
		bottom:20px;
	}
	.nav>li{
		float:left;
		width:20px;
		height:20px;
		background:#ccc;
		cursor:pointer;
		margin:0 10px;
		border-radius:50px; 
		text-align: center;
	}
	.nav .active{
		background:#fb47b5;
		color:#cccccc;
		text-align: center;
	}