/*12星座图*/
.twen{
	width:1200px;
	height:600px;
	float:left;
	margin-left:180px;
	margin-top:80px;
}
.twen1{
	height: 276px;
	width: 180px;
	opacity: 0.8;
	float:left;
	margin-top:5px;
	margin-left:20px; 
}
.twen2{
	height: 280px;
	width: 180px;
	opacity: 0.8;
	float:right;
	margin-top:15px;
	margin-left:20px; 
}
.twen1:hover{
	opacity: 1;
}
.twen2:hover{
	opacity: 1;
}
.i1{
	margin-left: 0px;
	height: 280px;
	width: 180px;
	border-radius: 10%;
}